
<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex="15%">Item 1</div>
    <div class="item item-2" fxFlex="20%" fxFlexOrder="3">Item 2</div>
    <div class="item item-3" fxFlex>Item 3</div>
</div>


<div layout="row">
    <div flex>First item in row</div>
    <div flex>Second item in row</div>
</div>
<div layout="row">
    <div flex="20">
        First Half
    </div>
    <div flex>
        Second Half
    </div>
</div>

<div class='container' layout="row">
    <mat-card style="width: 300px;" *ngFor="let tile of tiles" flex>
        <img src="http://placehold.it/150x150" class="md-card-image" alt="user avatar">
        <mat-card-title>
            <span class="mat-headline">{{tile.text}}</span>
        </mat-card-title>
        <mat-card-subtitle>Nombre / Tickets en cours / Warnings</mat-card-subtitle>
        <mat-card-content>
            <p mat-line>Human fdfsdfdsf</p>
        </mat-card-content>
        <mat-card-actions layout="row" layout-align="end center">
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>
