<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTicketLabel">Create or edit a Ticket</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <custom-alert-error></custom-alert-error>
        <div class="form-group" [hidden]="!ticket.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="ticket.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_incidentType">Incident Type</label>
            <input type="text" class="form-control" name="incidentType" id="field_incidentType"
                [(ngModel)]="ticket.incidentType"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_incidentDate">Incident Date</label>
            <div class="d-flex">
                <input id="field_incidentDate" type="datetime-local" class="form-control" name="incidentDate" [(ngModel)]="ticket.incidentDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_trackIdZabbix">Track Id Zabbix</label>
            <input type="text" class="form-control" name="trackIdZabbix" id="field_trackIdZabbix"
                [(ngModel)]="ticket.trackIdZabbix"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_hostIdzabbix">Host Idzabbix</label>
            <input type="text" class="form-control" name="hostIdzabbix" id="field_hostIdzabbix"
                [(ngModel)]="ticket.hostIdzabbix"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_description">Description</label>
            <textarea class="form-control" name="description" id="field_description"
                [(ngModel)]="ticket.description"  ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="ticket.status" id="field_status" >
                <option value="OPEN">OPEN</option>
                <option value="INPROGRESS">INPROGRESS</option>
                <option value="CLOSE">CLOSE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_closeDate">Close Date</label>
            <div class="d-flex">
                <input id="field_closeDate" type="datetime-local" class="form-control" name="closeDate" [(ngModel)]="ticket.closeDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_severity">Severity</label>
            <select class="form-control" name="severity" [(ngModel)]="ticket.severity" id="field_severity" >
                <option value="MAJOR">MAJOR</option>
                <option value="MINOR">MINOR</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_createdDate">Created Date</label>
            <div class="d-flex">
                <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="ticket.createdDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_modifiedDate">Modified Date</label>
            <div class="d-flex">
                <input id="field_modifiedDate" type="datetime-local" class="form-control" name="modifiedDate" [(ngModel)]="ticket.modifiedDate"
                  />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_admin">Admin</label>
            <select class="form-control" id="field_admin" name="admin" [(ngModel)]="ticket.adminId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_company">Company</label>
            <select class="form-control" id="field_company" name="company" [(ngModel)]="ticket.companyId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="companyOption.id" *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{companyOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
