<div>
    <h2>
        <span>Tickets</span>
        <button class="btn btn-primary float-right jh-create-entity create-ticket" [routerLink]="['/', { outlets: { popup: ['ticket-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Ticket
            </span>
        </button>
    </h2>
    <custom-alert></custom-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tickets">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="incidentType"><span>Incident Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="incidentDate"><span>Incident Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="trackIdZabbix"><span>Track Id Zabbix</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="hostIdzabbix"><span>Host Idzabbix</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="hostLabel"><span>Host Label</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="hostType"><span>Host Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span>Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span>Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="closeDate"><span>Close Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="severity"><span>Severity</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span>Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modifiedDate"><span>Modified Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="adminId"><span>Admin Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="adminName"><span>Admin Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="companyId"><span>Company</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ticket of tickets ;trackBy: trackId">
                <td><a [routerLink]="['../ticket', ticket.id ]">{{ticket.id}}</a></td>
                <td>{{ticket.incidentType}}</td>
                <td>{{ticket.incidentDate | date:'medium'}}</td>
                <td>{{ticket.trackIdZabbix}}</td>
                <td>{{ticket.hostIdzabbix}}</td>
                <td>{{ticket.hostLabel}}</td>
                <td>{{ticket.hostType}}</td>
                <td>{{ticket.description}}</td>
                <td>{{ticket.status}}</td>
                <td>{{ticket.closeDate | date:'medium'}}</td>
                <td>{{ticket.severity}}</td>
                <td>{{ticket.createdDate | date:'medium'}}</td>
                <td>{{ticket.modifiedDate | date:'medium'}}</td>
                <td>
                    {{ticket.adminId}}
                </td>
                <td>
                    {{ticket.adminName}}
                </td>
                <td>
                    <div *ngIf="ticket.companyId">
                        <a [routerLink]="['../company', ticket.companyId  ]" >{{ticket.companyId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../ticket', ticket.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ticket/'+ ticket.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ticket/'+ ticket.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="tickets && tickets.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
