
<div *ngIf="offer">
    <h2><span>Offer</span> {{offer.id}}</h2>
    <hr>
    <custom-alert-error></custom-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Label</span></dt>
        <dd>
            <span>{{offer.label}}</span>
        </dd>
        <dt><span>Max Host</span></dt>
        <dd>
            <span>{{offer.maxHost}}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
            <span>{{offer.type}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'offer/'+ offer.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
