
<div *ngIf="hostDemand">
    <h2><span>Host Demand</span> {{hostDemand.id}}</h2>
    <hr>
    <custom-alert-error></custom-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Zabbix Id</span></dt>
        <dd>
            <span>{{hostDemand.zabbixId}}</span>
        </dd>
        <dt><span>Label</span></dt>
        <dd>
            <span>{{hostDemand.label}}</span>
        </dd>
        <dt><span>Ip Address</span></dt>
        <dd>
            <span>{{hostDemand.ipAddress}}</span>
        </dd>
        <dt><span>Site Id</span></dt>
        <dd>
            <span>{{hostDemand.siteId}}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
            <span>{{hostDemand.type}}</span>
        </dd>
        <dt><span>Code Snmp</span></dt>
        <dd>
            <span>{{hostDemand.codeSnmp}}</span>
        </dd>
        <dt><span>Date Integration</span></dt>
        <dd>
            <span>{{hostDemand.dateIntegration | date:'medium'}}</span>
        </dd>
        <dt><span>Demand</span></dt>
        <dd>
            <div *ngIf="hostDemand.demandId">
                <a [routerLink]="['/demand', hostDemand.demandId]">{{hostDemand.demandId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'host-demand/'+ hostDemand.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
