<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myHostDemandLabel">Create or edit a Host Demand</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <custom-alert-error></custom-alert-error>
        <div class="form-group" [hidden]="!hostDemand.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="hostDemand.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_zabbixId">Zabbix Id</label>
            <input type="text" class="form-control" name="zabbixId" id="field_zabbixId"
                [(ngModel)]="hostDemand.zabbixId"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_label">Label</label>
            <input type="text" class="form-control" name="label" id="field_label"
                [(ngModel)]="hostDemand.label"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_ipAddress">Ip Address</label>
            <input type="text" class="form-control" name="ipAddress" id="field_ipAddress"
                [(ngModel)]="hostDemand.ipAddress"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_siteId">Site Id</label>
            <input type="text" class="form-control" name="siteId" id="field_siteId"
                [(ngModel)]="hostDemand.siteId"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="hostDemand.type" id="field_type" >
                <option value="ROUTER">ROUTER</option>
                <option value="SWITCH">SWITCH</option>
                <option value="FIREWALL">FIREWALL</option>
                <option value="SERVER">SERVER</option>
                <option value="WEBSERVER">WEBSERVER</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_codeSnmp">Code Snmp</label>
            <input type="text" class="form-control" name="codeSnmp" id="field_codeSnmp"
                [(ngModel)]="hostDemand.codeSnmp"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_dateIntegration">Date Integration</label>
            <div class="d-flex">
                <input id="field_dateIntegration" type="datetime-local" class="form-control" name="dateIntegration" [(ngModel)]="hostDemand.dateIntegration"
                  />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_demand">Demand</label>
            <select class="form-control" id="field_demand" name="demand" [(ngModel)]="hostDemand.demandId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="demandOption.id" *ngFor="let demandOption of demands; trackBy: trackDemandById">{{demandOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
