<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myContractLabel">Create or edit a Contract</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <custom-alert-error></custom-alert-error>
        <div class="form-group" [hidden]="!contract.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="contract.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_currentStatus">Current Status</label>
            <select class="form-control" name="currentStatus" [(ngModel)]="contract.currentStatus" id="field_currentStatus" >
                <option value="REQUESTED">REQUESTED</option>
                <option value="VALIDATED">VALIDATED</option>
                <option value="ONGOING">ONGOING</option>
                <option value="FINISH">FINISH</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_createDate">Create Date</label>
            <div class="d-flex">
                <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" [(ngModel)]="contract.createDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_beginDate">Begin Date</label>
            <div class="d-flex">
                <input id="field_beginDate" type="datetime-local" class="form-control" name="beginDate" [(ngModel)]="contract.beginDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_endDate">End Date</label>
            <div class="d-flex">
                <input id="field_endDate" type="datetime-local" class="form-control" name="endDate" [(ngModel)]="contract.endDate"
                  />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_company">Company</label>
            <select class="form-control" id="field_company" name="company" [(ngModel)]="contract.companyId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="companyOption.id" *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{companyOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_offer">Offer</label>
            <select class="form-control" id="field_offer" name="offer" [(ngModel)]="contract.offerId">
                <option [ngValue]="null"></option>
                <option [ngValue]="offerOption.id" *ngFor="let offerOption of offers; trackBy: trackOfferById">{{offerOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
