
<div *ngIf="contract">
    <h2><span>Contract</span> {{contract.id}}</h2>
    <hr>
    <custom-alert-error></custom-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Current Status</span></dt>
        <dd>
            <span>{{contract.currentStatus}}</span>
        </dd>
        <dt><span>Create Date</span></dt>
        <dd>
            <span>{{contract.createDate | date:'medium'}}</span>
        </dd>
        <dt><span>Begin Date</span></dt>
        <dd>
            <span>{{contract.beginDate | date:'medium'}}</span>
        </dd>
        <dt><span>End Date</span></dt>
        <dd>
            <span>{{contract.endDate | date:'medium'}}</span>
        </dd>
        <dt><span>Company</span></dt>
        <dd>
            <div *ngIf="contract.companyId">
                <a [routerLink]="['/company', contract.companyId]">{{contract.companyId}}</a>
            </div>
        </dd>
        <dt><span>Offer</span></dt>
        <dd>
            <div *ngIf="contract.offerId">
                <a [routerLink]="['/offer', contract.offerId]">{{contract.offerId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'contract/'+ contract.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
