
<div *ngIf="hostContract">
    <h2><span>Host Contract</span> {{hostContract.id}}</h2>
    <hr>
    <custom-alert-error></custom-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Zabbix Host Id</span></dt>
        <dd>
            <span>{{hostContract.zabbixHostId}}</span>
        </dd>
        <dt><span>Contract</span></dt>
        <dd>
            <div *ngIf="hostContract.contractId">
                <a [routerLink]="['/contract', hostContract.contractId]">{{hostContract.contractId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'host-contract/'+ hostContract.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
