
<div *ngIf="ticketStory">
    <h2><span>Ticket Story</span> {{ticketStory.id}}</h2>
    <hr>
    <custom-alert-error></custom-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Date</span></dt>
        <dd>
            <span>{{ticketStory.date | date:'medium'}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{ticketStory.status}}</span>
        </dd>
        <dt><span>Ticket</span></dt>
        <dd>
            <div *ngIf="ticketStory.ticketId">
                <a [routerLink]="['/ticket', ticketStory.ticketId]">{{ticketStory.ticketId}}</a>
            </div>
        </dd>
        <dt><span>Admin</span></dt>
        <dd>
            {{ticketStory.adminId}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ticket-story/'+ ticketStory.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
