<div>
    <h2>
        <span>Ticket Stories</span>
        <button class="btn btn-primary float-right jh-create-entity create-ticket-story" [routerLink]="['/', { outlets: { popup: ['ticket-story-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Ticket Story
            </span>
        </button>
    </h2>
    <custom-alert></custom-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="ticketStories">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="date"><span>Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span>Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ticketId"><span>Ticket</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="adminId"><span>Admin Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="adminName"><span>Admin Name</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ticketStory of ticketStories ;trackBy: trackId">
                <td><a [routerLink]="['../ticket-story', ticketStory.id ]">{{ticketStory.id}}</a></td>
                <td>{{ticketStory.date | date:'medium'}}</td>
                <td>{{ticketStory.status}}</td>
                <td>
                    <div *ngIf="ticketStory.ticketId">
                        <a [routerLink]="['../ticket', ticketStory.ticketId  ]" >{{ticketStory.ticketId}}</a>
                    </div>
                </td>
                <td>
                    {{ticketStory.adminId}}
                </td>
                <td>
                    {{ticketStory.adminName}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../ticket-story', ticketStory.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ticket-story/'+ ticketStory.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ticket-story/'+ ticketStory.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="ticketStories && ticketStories.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
