
<div *ngIf="company">
    <h2><span>Company</span> {{company.id}}</h2>
    <hr>
    <custom-alert-error></custom-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Login</span></dt>
        <dd>
            <span>{{company.login}}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
            <span>{{company.name}}</span>
        </dd>
        <dt><span>Website</span></dt>
        <dd>
            <span>{{company.website}}</span>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
            <span>{{company.address}}</span>
        </dd>
        <dt><span>Phone</span></dt>
        <dd>
            <span>{{company.phone}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'company/'+ company.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
