
<div *ngIf="site">
    <h2><span>Site</span> {{site.id}}</h2>
    <hr>
    <custom-alert-error></custom-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Zabbix Proxy Id</span></dt>
        <dd>
            <span>{{site.zabbixProxyId}}</span>
        </dd>
        <dt><span>Label</span></dt>
        <dd>
            <span>{{site.label}}</span>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
            <span>{{site.address}}</span>
        </dd>
        <dt><span>Latitude</span></dt>
        <dd>
            <span>{{site.latitude}}</span>
        </dd>
        <dt><span>Longitude</span></dt>
        <dd>
            <span>{{site.longitude}}</span>
        </dd>
        <dt><span>Company</span></dt>
        <dd>
            <div *ngIf="site.companyId">
                <a [routerLink]="['/company', site.companyId]">{{site.companyId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'site/'+ site.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
