<div>
    <h2>
        <span>Sites</span>
        <button class="btn btn-primary float-right jh-create-entity create-site" [routerLink]="['/', { outlets: { popup: ['site-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Site
            </span>
        </button>
    </h2>
    <custom-alert></custom-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="sites">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="zabbixProxyId"><span>Zabbix Proxy Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="label"><span>Label</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="address"><span>Address</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="latitude"><span>Latitude</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="longitude"><span>Longitude</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="companyId"><span>Company</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let site of sites ;trackBy: trackId">
                <td><a [routerLink]="['../site', site.id ]">{{site.id}}</a></td>
                <td>{{site.zabbixProxyId}}</td>
                <td>{{site.label}}</td>
                <td>{{site.address}}</td>
                <td>{{site.latitude}}</td>
                <td>{{site.longitude}}</td>
                <td>
                    <div *ngIf="site.companyId">
                        <a [routerLink]="['../company', site.companyId  ]" >{{site.companyId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../site', site.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'site/'+ site.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'site/'+ site.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="sites && sites.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
