<div>
    <h2>
        <span>Dashboard Items</span>
        <button class="btn btn-primary float-right jh-create-entity create-dashboard-item" [routerLink]="['/', { outlets: { popup: ['dashboard-item-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Dashboard Item
            </span>
        </button>
    </h2>
    <custom-alert></custom-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="dashboardItems">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Host Type</span></th>
            <th><span>Number Of Equipments</span></th>
            <th><span>Number Of Tickets</span></th>
            <th><span>Color</span></th>
            <th><span>Img</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dashboardItem of dashboardItems ;trackBy: trackId">
                <td><a [routerLink]="['../dashboard-item', dashboardItem.id ]">{{dashboardItem.id}}</a></td>
                <td>{{dashboardItem.hostType}}</td>
                <td>{{dashboardItem.numberOfEquipments}}</td>
                <td>{{dashboardItem.numberOfTickets}}</td>
                <td>{{dashboardItem.color}}</td>
                <td>
                    <a *ngIf="dashboardItem.img" (click)="openFile(dashboardItem.imgContentType, dashboardItem.img)">open</a>
                    <span *ngIf="dashboardItem.img">{{dashboardItem.imgContentType}}, {{byteSize(dashboardItem.img)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../dashboard-item', dashboardItem.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dashboard-item/'+ dashboardItem.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dashboard-item/'+ dashboardItem.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
