<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myContactPersonLabel">Create or edit a Contact Person</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <custom-alert-error></custom-alert-error>
        <div class="form-group" [hidden]="!contactPerson.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="contactPerson.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_firtsname">Firtsname</label>
            <input type="text" class="form-control" name="firtsname" id="field_firtsname"
                [(ngModel)]="contactPerson.firtsname" required />
            <div [hidden]="!(editForm.controls.firtsname?.dirty && editForm.controls.firtsname?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.firtsname?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lastname">Lastname</label>
            <input type="text" class="form-control" name="lastname" id="field_lastname"
                [(ngModel)]="contactPerson.lastname" required />
            <div [hidden]="!(editForm.controls.lastname?.dirty && editForm.controls.lastname?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lastname?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="contactPerson.email" required />
            <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.email?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_mobilePhone">Mobile Phone</label>
            <input type="text" class="form-control" name="mobilePhone" id="field_mobilePhone"
                [(ngModel)]="contactPerson.mobilePhone" required />
            <div [hidden]="!(editForm.controls.mobilePhone?.dirty && editForm.controls.mobilePhone?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.mobilePhone?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_fixedPhone">Fixed Phone</label>
            <input type="text" class="form-control" name="fixedPhone" id="field_fixedPhone"
                [(ngModel)]="contactPerson.fixedPhone"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_company">Company</label>
            <select class="form-control" id="field_company" name="company" [(ngModel)]="contactPerson.companyId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="companyOption.id" *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{companyOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
