<div>
    <h2>
        <span>Host Types</span>
        <button class="btn btn-primary float-right jh-create-entity create-host-type" [routerLink]="['/', { outlets: { popup: ['host-type-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Host Type
            </span>
        </button>
    </h2>
    <custom-alert></custom-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="hostTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Label</span></th>
            <th><span>Img</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let hostType of hostTypes ;trackBy: trackId">
                <td><a [routerLink]="['../host-type', hostType.id ]">{{hostType.id}}</a></td>
                <td>{{hostType.name}}</td>
                <td>{{hostType.label}}</td>
                <td>
                    <a *ngIf="hostType.img" (click)="openFile(hostType.imgContentType, hostType.img)">open</a>
                    <span *ngIf="hostType.img">{{hostType.imgContentType}}, {{byteSize(hostType.img)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../host-type', hostType.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'host-type/'+ hostType.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'host-type/'+ hostType.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
